In [43]:
import pandas as pd
import numpy as np

#Import data from the clean file 
df = pd.read_csv('topp100.csv')

#Print the head of the cleaned DataFrame
df.head()

,Name,type,image,No of ratings,average rating,about,address
0,1. Qutub Minar,Points of Interest & Landmarks • Architectural...,https://dynamic-media-cdn.tripadvisor.com/medi...,"13,185",4.5,Construction on this sandstone minaret was beg...,"Qutb Minar, Mehrauli, New Delhi 110030 India"
1,2. Marine Drive,Points of Interest & Landmarks • Scenic Drives,https://dynamic-media-cdn.tripadvisor.com/medi...,"8,181",4.5,"Bordering the Arabian Sea, this famous road is...","Mumbai,Maharashtra 400002 India"
2,3. ISKCON Temple Bangalore,Religious Sites,https://dynamic-media-cdn.tripadvisor.com/medi...,"4,811",4.5,ISKCON Sri Radha Krishna temple was inaugurate...,"Chord Road Hare Krishna Hill, Bengaluru 560010..."
3,4. VGP Snow Kingdom,Amusement & Theme Parks,https://dynamic-media-cdn.tripadvisor.com/medi...,643,5.0,"Indoor attraction featuring manmade snow, sled...","East Coast Road Injambakkam, Chennai (Madras) ..."
4,5. Ramoji Film City,Amusement & Theme Parks,https://dynamic-media-cdn.tripadvisor.com/medi...,"4,174",4.5,Visitors can learn all about the local film in...,"Ramoji FIlm City Hayatnagar Mandal, Ranga Redd..."

In [44]:
#df['Pincode']=df['address'].str.extract('([([\d]*[\d]){6,6}?])')
df['Pincode'] = df.address.str.extract(r'(?<!\d)(\d{6})(?!\d)', expand=False)
df["Pincode"]=df["Pincode"].str[:3]
df["Pincode"].isnull().sum()

0

In [45]:
df.head()

,Name,type,image,No of ratings,average rating,about,address,Pincode
0,1. Qutub Minar,Points of Interest & Landmarks • Architectural...,https://dynamic-media-cdn.tripadvisor.com/medi...,"13,185",4.5,Construction on this sandstone minaret was beg...,"Qutb Minar, Mehrauli, New Delhi 110030 India",110
1,2. Marine Drive,Points of Interest & Landmarks • Scenic Drives,https://dynamic-media-cdn.tripadvisor.com/medi...,"8,181",4.5,"Bordering the Arabian Sea, this famous road is...","Mumbai,Maharashtra 400002 India",400
2,3. ISKCON Temple Bangalore,Religious Sites,https://dynamic-media-cdn.tripadvisor.com/medi...,"4,811",4.5,ISKCON Sri Radha Krishna temple was inaugurate...,"Chord Road Hare Krishna Hill, Bengaluru 560010...",560
3,4. VGP Snow Kingdom,Amusement & Theme Parks,https://dynamic-media-cdn.tripadvisor.com/medi...,643,5.0,"Indoor attraction featuring manmade snow, sled...","East Coast Road Injambakkam, Chennai (Madras) ...",600
4,5. Ramoji Film City,Amusement & Theme Parks,https://dynamic-media-cdn.tripadvisor.com/medi...,"4,174",4.5,Visitors can learn all about the local film in...,"Ramoji FIlm City Hayatnagar Mandal, Ranga Redd...",501

In [46]:
clicked_places = [0]  # list which contains id of places that user have clicked.

In [47]:
from sklearn.feature_extraction.text import TfidfVectorizer
# Import linear_kernel to compute the dot product
from sklearn.metrics.pairwise import linear_kernel

In [48]:
def content_place_recomm(title, df=df):
    tfidf = TfidfVectorizer(stop_words='english')
    df.drop(df.tail(1).index , inplace=True)
    #Construct the required TF-IDF matrix by applying the fit_transform method on the combcol feature
    tfidf_matrix = tfidf.fit_transform(df['type'])

    #Output the shape of tfidf_matrix
    tfidf_matrix.shape
   
    # Compute the cosine similarity matrix
    cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
  
    # Get the pairwsie similarity scores of all groups with that input group
    # And convert it into a list of tuples as described above
    
    sim_scores = list(enumerate(cosine_sim[title]))

    # Sort the groups based on the cosine similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar groups. Ignore the first group.
    sim_scores = sim_scores[1:11]

    # Get the group indices
    group_indices = [i[0] for i in sim_scores]
    similarity_indices = [i[1] for i in sim_scores]
    #print(type(df['grp_name'].iloc[group_indices]))
    # Return the top 10 most similar group
    newdf = pd.DataFrame() 
    newdf['Name'] = df['Name'].iloc[group_indices]
    newdf['score']= similarity_indices
    return newdf

In [49]:
data = pd.DataFrame()
for item in clicked_places:
    data = data.append(content_place_recomm(item))
#print(data)
data2=data.sort_values(by=['score'],ascending=False)
#print(data2)
data2 = data.drop_duplicates(subset=['Name'], keep="first", inplace=False)
#print(data2)
print(data2.sort_values(by=['score'],ascending=False))
type_result = data2.sort_values(by=['score'],ascending=False)

                                Name     score
9    10. Hawa Mahal - Palace of Wind  1.000000
86              87. Mahalaxmi Temple  0.765224
19   20. Sree Padmanabhaswamy Temple  0.652709
30                  31. Mother House  0.643765
31  32. Shri Omkareshwar Jyotirlinga  0.643765
39           40. Swaminarayan Temple  0.643765
70                     71. Lal Tibba  0.643765
90     91. Vivekananda Rock Memorial  0.643765
41          42. Lukshmi Vilas Palace  0.567707
42      43. Dakshineswar Kali Temple  0.520604

In [50]:
def content_place_recomm_pin(title, df=df):
    tfidf = TfidfVectorizer(stop_words='english')
    df.drop(df.tail(1).index , inplace=True)
    #Construct the required TF-IDF matrix by applying the fit_transform method on the combcol feature
    tfidf_matrix = tfidf.fit_transform(df['Pincode'])

    #Output the shape of tfidf_matrix
    tfidf_matrix.shape
   
    # Compute the cosine similarity matrix
    cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
  
    # Get the pairwsie similarity scores of all groups with that input group
    # And convert it into a list of tuples as described above
    
    sim_scores = list(enumerate(cosine_sim[title]))

    # Sort the groups based on the cosine similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar groups. Ignore the first group.
    sim_scores = sim_scores[1:11]

    # Get the group indices
    group_indices = [i[0] for i in sim_scores]
    similarity_indices = [i[1] for i in sim_scores]
    #print(type(df['grp_name'].iloc[group_indices]))
    # Return the top 10 most similar group
    newdf = pd.DataFrame() 
    newdf['Name'] = df['Name'].iloc[group_indices]
    newdf['score']= similarity_indices
    return newdf

In [51]:

data = pd.DataFrame()
for item in clicked_places:
    data = data.append(content_place_recomm_pin(item))
#print(data)
data2=data.sort_values(by=['score'],ascending=False)
#print(data2)
data2 = data.drop_duplicates(subset=['Name'], keep="first", inplace=False)
#print(data2)
print(data2.sort_values(by=['score'],ascending=False))
pin_result= data2.sort_values(by=['score'],ascending=False)

                           Name  score
18  19. Swaminarayan Akshardham    1.0
49   50. Gurudwara Bangla Sahib    1.0
1               2. Marine Drive    0.0
2    3. ISKCON Temple Bangalore    0.0
3           4. VGP Snow Kingdom    0.0
4           5. Ramoji Film City    0.0
5     6. Victoria Memorial Hall    0.0
6     7. Jantar Mantar - Jaipur    0.0
7              8. DLF Cyber Hub    0.0
8                  9. LuLu Mall    0.0

In [52]:
type_result = type_result.append(pin_result)
type_result = type_result.drop_duplicates(subset=['Name'], keep="first", inplace=False)

final_result= type_result.sort_values(by=['score'],ascending=False)
final_result

                                Name     score
9    10. Hawa Mahal - Palace of Wind  1.000000
86              87. Mahalaxmi Temple  0.765224
19   20. Sree Padmanabhaswamy Temple  0.652709
30                  31. Mother House  0.643765
31  32. Shri Omkareshwar Jyotirlinga  0.643765
39           40. Swaminarayan Temple  0.643765
70                     71. Lal Tibba  0.643765
90     91. Vivekananda Rock Memorial  0.643765
41          42. Lukshmi Vilas Palace  0.567707
42      43. Dakshineswar Kali Temple  0.520604
18       19. Swaminarayan Akshardham  1.000000
49        50. Gurudwara Bangla Sahib  1.000000
1                    2. Marine Drive  0.000000
2         3. ISKCON Temple Bangalore  0.000000
3                4. VGP Snow Kingdom  0.000000
4                5. Ramoji Film City  0.000000
5          6. Victoria Memorial Hall  0.000000
6          7. Jantar Mantar - Jaipur  0.000000
7                   8. DLF Cyber Hub  0.000000
8                       9. LuLu Mall  0.000000